<mat-card class="home mat-elevation-z4">
  <mat-card-title class="title">Bem vindo!</mat-card-title>
  <mat-card-subtitle class="subtitle"
    >Sistema para exemplificar um CRUD usando Angular e SpringBoot.
  </mat-card-subtitle>
  <br />
  <br />
  <nav class="texto-home">
    Contato:<br><br>
    <a href="mailto:vhenrique.1313@gmail.com?subject=Olá%20Victor%20Henrique"
      ><img
        src="https://img.shields.io/badge/gmail-%23D14836.svg?&style=for-the-badge&logo=gmail&logoColor=white"
    /></a>
    <a href="https://www.linkedin.com/in/victorhenrique-dev/"
      ><img
        src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white"
    /></a>
    <a href="https://github.com/VictorHenrique-dev"
      ><img
        src="https://img.shields.io/badge/github-%23808080.svg?&style=for-the-badge&logo=github&logoColor=white"
    /></a>
    <a href="https://api.whatsapp.com/send?phone=5511984802030"
      ><img
        src="https://img.shields.io/badge/whatsapp-%23075e54.svg?&style=for-the-badge&logo=whatsapp&logoColor=white"
    /></a>
  </nav>
</mat-card>
